*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    background-color: rgb(51, 51, 100);
    height: 100vh;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fp-container{
    
   width: 500px;
   padding: 30px;
   background-color: azure;
    background-color: rgb(red, green, rgb(20, 20, 70));
 
    border-radius: 16px;

}
.text-section{
    margin-bottom: 30px;

}
.title{
 color: rgb(19, 28, 46);
 font-size: 25px;
 font-weight: 500;
 text-transform: capitalize;
 margin-bottom: 10px;   
}
.para{
    color: rgb(2, 39, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.fp-input-field{
    position: relative;
}
.fp-input-field .label{
    color: azure;
    text-transform: capitalize;
    margin-bottom: 11px;
    font-size: 14px;
    display: block;
    font-weight: 500;
}
input{
    width: 100%;
    background-color: none;
    color: #ef5b25;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #EAECf0;
    padding: 9px 18px 9px 52px;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

input ::placeholder{
    color: cornflowerblue;
    font-size: 16px;
    font-weight: 400;
}

.icon{
    position: absolute;
    color: brown;
    left: 13px;
    top: calc(50% - 11px);
    text-align: center;
    font-size: 23px;

}



.btn-fp{
    width: 100%;
    background-color: blueviolet;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    color: #EAECf0;
    padding: 13px 24px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;


}
.btn-fp:hover{
    opacity: 0.95;
}


